$radius: 16px;
$tablet: 768px;

//STANDARD

a {
    color: inherit;
}

ul {
    margin: 0;
    list-style-type: disc;
    
}


html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #BCD2F7;

    body {
        max-width: 768px;
        margin: 40px auto 100px auto;

        &>* {
            padding: 25px;
        }



        header {
            background-image: linear-gradient(#3A6DB8 0%, #3A6DB8 65%, #ffffff 65%);
            min-height: 100px;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;

            @media only screen and (min-width: $tablet) {
                background-image: linear-gradient(#3A6DB8 0%, #3A6DB8 40%, #ffffff 40%);
                display: flex;
                gap: 30px;
            }

            .profile_pic {
                img {
                    max-width: 100px;
                    border-radius: $radius/2;
                    border: 10px solid #fff;

                    @media only screen and (min-width: $tablet) {
                        max-width: 150px;
                    }

                }
            }

            .bio {
                .name {
                    color: #ffffff;
                }

                .dati {
                    @media only screen and (min-width: $tablet) {
                        display: flex;
                        gap:30px;
                    }
                }
            }
        }

        main {
            background-color: #ffffff;

            .list div:nth-last-child(1){
                padding-bottom: 60px;
            }

            @media only screen and (min-width: $tablet) {
                display: flex;
                flex-direction: row-reverse;
            }

            aside {
            

                ul {
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    gap: 10px;
                    overflow-x: scroll;
                    padding: 10px 0;
                    margin: 0;

                    @media only screen and (min-width: $tablet) {
                        display: block;
                    }

                    li {
                        background-color: #eaf0fb;
                        border-radius: $radius/2;
                        padding: 10px;
                        margin-bottom: 5px;

                        a {
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }

        footer {
            background-color: #3A6DB8;
            text-align: center;
            color: #ffffff;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
        }
    }
}