a {
  color: inherit;
}

ul {
  margin: 0;
  list-style-type: disc;
  padding-left: 20px;
}

section {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(167, 167, 167, 0.226);
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #BCD2F7;
}

html body {
  max-width: 768px;
  margin: 40px auto 100px auto;
}

html body > * {
  padding: 25px 25px 0 25px;
}

html body header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3A6DB8), color-stop(65%, #3A6DB8), color-stop(65%, #ffffff));
  background-image: linear-gradient(#3A6DB8 0%, #3A6DB8 65%, #ffffff 65%);
  min-height: 100px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media only screen and (min-width: 768px) {
  html body header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3A6DB8), color-stop(47%, #3A6DB8), color-stop(47%, #ffffff));
    background-image: linear-gradient(#3A6DB8 0%, #3A6DB8 47%, #ffffff 47%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

html body header .profile_pic img {
  max-width: 100px;
  border-radius: 8px;
  border: 10px solid #fff;
}

@media only screen and (min-width: 768px) {
  html body header .profile_pic img {
    max-width: 150px;
  }
}

html body header .bio .name {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  html body header .bio .dati {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

html body main {
  background-color: #ffffff;
}

html body main .list div:nth-last-child(1) {
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  html body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

html body main aside ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding: 10px 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  html body main aside ul {
    display: block;
  }
}

html body main aside ul li {
  background-color: #eaf0fb;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
}

html body main aside ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  html body main .list {
    margin-right: 10px;
  }
}

html body main .list section ul p.data {
  margin: 20px 0 5px 0;
}

html body main .list section ul p.data:nth-last-of-type(1) {
  margin-top: 35px;
}

html body main .list section ul li h4 {
  margin: 0;
}

html body main .list section ul li p {
  margin: 3px 0 5px 0;
}

html body main .list section ul li ul {
  margin-top: 15px;
}

html body main .list section ul li ul li {
  margin-bottom: 5px;
}

html body footer {
  background-color: #3A6DB8;
  text-align: center;
  color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
/*# sourceMappingURL=style.css.map */